*  { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: Helvetica, sans-serif;
    color: black;
}

h1 {
    font-size: 3rem/;
    color: maroon;
}

h2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 400px;
}

header, footer, footer a {
    text-align: center;
    background-color: maroon;
    color: whitesmoke;
}

header img {
    width: 40px;
    height: auto;
    float: right;
}

footer {
    font-size: 10px;
}